<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navbar.ejs') %>
    <section class="sign-section">
        <form action="/reset-password" method="post" autocomplete="false">
            <input type="text" name="email" placeholder="email">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn">Reset password</button>
            <% if (errorMessage) { %>
            <p class="error-msg"><%= errorMessage %></p>
            <br>
            <% } %>
        </form>
    </section>
    <script src="/script.js"></script>
</body>

</html>