<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="sign-in.css">
    <title>Sign in</title>
</head>

<body>
    <%- include('../includes/navbar.ejs')  %>
    <section class="main-section">
        <div class="form-container">
            <form action="/sign-in" method="post">
                <input type="text" name="email" placeholder="Email adress">
                <input type="password" name="password" placeholder="Password">
                <a href="/reset-password">Forgot your password?</a>
                <button class="btn">Sign in</button>
                <% if (errorMessage) { %>
                <p><%= errorMessage %></p>
                <br>
                <% } %>
            </form>
            <p>Don't have an account? <a href="/sign-up">Sign up</a></p>
        </div>
    </section>
</body>

</html>