<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navbar.ejs')  %>
    <section class="sign-section">
        <form action="/sign-in" method="post">
            <input type="text" name="email" placeholder="Email adress">
            <input type="password" name="password" placeholder="Password">
            <a href="/reset-password">Forgot your password?</a>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn">Sign in</button>
            <% if (errorMessage) { %>
            <p class="error-msg"><%= errorMessage %></p>
            <br>
            <% } %>
            <p>Don't have an account? <a href="/sign-up">Sign up</a></p>
        </form>
    </section>
    <script src="/script.js"></script>
</body>

</html>