<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navbar.ejs') %>
    <section class="sign-section">
        <form action="/sign-up" method="post" autocomplete="off" novalidate>
            <input type="text" name="fname" placeholder="First name">
            <input type="text" name="lname" placeholder="Last name">
            <input type="email" name="email" placeholder="Email adress">
            <input type="text" name="password" placeholder="Password">
            <input type="text" name="confirmedPassword" placeholder="Confirme password">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn">Sign up</button>
            <% if (errorMessage) { %>
            <p class="error-msg"><%= errorMessage %></p>
            <br>
            <% } %>
        </form>
    </section>
    <script src="/script.js"></script>
</body>

</html>