<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="sign-in.css">
    <title>Sign in</title>
</head>

<body>
    <%- include('../includes/navbar.ejs') %>
    <section class="main-section">
        <div class="form-container">
            <form action="/sign-up" method="post">
                <input type="text" autocomplete="off" name="fname" placeholder="First name">
                <input type="text" autocomplete="off" name="lname" placeholder="Last name">
                <input type="text" autocomplete="off" name="email" placeholder="Email adress">
                <input type="text" autocomplete="off" name="password" placeholder="Password">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button class="btn">Sign up</button>
                <% if (errorMessage) { %>
                <p class="error-msg"><%= errorMessage %></p>
                <br>
                <% } %>
            </form>
        </div>
    </section>
    <script src="nav-script.js"></script>
</body>

</html>