<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/account.css">
<title>Home</title>
</head>

<body>
    <%- include('../includes/navbar.ejs') %>
    <section class="main-section">
        <%- include('../includes/sidebar.ejs') %>
        <div class="main-container">

        </div>
    </section>
    <script src="/nav-script.js"></script>
</body>

</html>