<div class="account-sidebar">
    <a class="<%= path === '/account/personal-info'? 'active': '' %>" href="/account/perosnal-info">Personal
        Information</a>
    <a href="#">Orders</a>
    <a href="#">Transaction history</a>
    <a href="#">Messeges</a>
    <% if (isAdmin) { %>
    <a class="<%= path === '/account/add-product'? 'active': '' %>" href="/account/add-product">Add product</a>
    <% } %>
</div>