<div class="side-bar">
    <a href="#">Personal Information</a>
    <a href="#">Orders</a>
    <a href="#">Transaction history</a>
    <a href="#">Messeges</a>
    <% if (admin) { %>
    <a href="/add-product">Add product</a>
    <% } %>
</div>