@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "League Spartan", sans-serif;
}

.main-section {
  padding: 80px 40px;
  text-align: center;
}

.products-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* grid-template-columns: 400px 400px 400px;
  grid-template-rows: 400px 400px 400px; */
}

.product {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.03);
  margin: 15px 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.product img {
  width: 100%;
  border-radius: 20px;
}

.product-desription {
  text-align: start;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.product-desription h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

.product-desription h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}
