.main-navbar {
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  align-items: center;
  padding: 20px 10px;
  font-family: Arial, Helvetica, sans-serif;
  position: sticky;
  top: 0;
  z-index: 3;
}

.main-navbar--item-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-navbar--item-list .item {
  list-style: none;
  margin: 0 20px;
}

.main-navbar--item-list .item a {
  text-decoration: none;
  color: rgb(118, 118, 118);
  transition: color 0.3s;
}

.main-navbar--item-list .item a:hover,
.main-navbar--item-list .active a {
  color: black;
}

.main-navbar--item-list .search-box {
  display: flex;
  align-items: center;
  border: solid 1px black;
  padding: 10px;
  height: 40px;
}

.main-navbar--item-list .search-box input,
.main-navbar--item-list .search-box input:focus {
  font-size: 18px;
  display: flex;
  width: 90%;
  border: none;
  outline: none;
}

.main-navbar--item-list .btn a {
  background-color: black;
  padding: 10px 15px;
  color: white;
  transition: background-color 0.3s;
}

.main-navbar--item-list .btn a:hover {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

.side-bar {
  height: 100%;
  position: fixed;
  top: 10%;
  left: 0;
  padding-top: 60px;
}

.side-bar a {
  text-align: left;
  margin: 25px 20px;
  text-decoration: none;
  font-size: 16px;
  color: black;
  display: block;
  transition: 0.3s;
}

.side-bar a:hover {
  color: rgb(118, 118, 118);
}
