@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "League Spartan", sans-serif;
}

.main-section {
  padding: 80px 40px;
}

.product {
  position: relative;
  width: 23%;
  padding: 10px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
}

.product img {
  width: 100%;
  border-radius: 20px;
}

.product h5,
.product h4 {
  font-size: 14px;
  color: #1a1a1a;
  margin: 8px 0;
}

.product h4 {
  font-size: 18px;
}

.product i {
  position: absolute;
  right: 10px;
  bottom: 20px;
}
