<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/shop.css">
<title>Shop</title>
</head>

<body>
    <%- include('../includes/navbar.ejs') %>
    <section class="main-section">
        <div class="products-container">
            <div class="product">
                <img src="./img/f1.jpg" alt="">
                <div class="product-desription">
                    <h5>Cartoon Astronaut T-Shirt</h5>
                    <h4>$14</h4>
                </div>
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
        </div>
    </section>
    <script src="/nav-script.js"></script>
</body>

</html>